:root {
  --clr-red: #dd6262;
  --clr-pale-red: #db7e7e;
  --clr-light: #fff9f1;
}
h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}
button,
select {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.container {
  margin-top: 30px;
}

.outcome-container,
.income-container {
  width: 700px;
  margin: 0 auto;
}
.title {
  color: var(--clr-red);
  padding: 10px 0;
  font-size: 1rem;
}
.category-button {
  font-size: 0.9rem;
  margin-right: 5px;
  padding: 8px 15px;
  transition: all 0.5s linear;
}
.category-button:hover {
  border-radius: 7%;
  background-color: var(--clr-pale-red);
}
.active {
  color: white;
  border-radius: 7%;
  background-color: var(--clr-pale-red);
}
.input {
  margin: 15px 0 25px;
  padding: 15px;
  width: 248px;
}
.select {
  border: 1px solid rgba(0, 0, 0, 0.315);
  padding: 16px;
  background-color: var(--clr-light);
  font-size: 0.9rem;
}
